{% extends 'base.html' %}
{% load staticfiles %}

<body>

<section>
{% block content %}
    <div class="container">
        <div class="row">
        {% block osnova %}
            <div class="col-md-8">
                <div class="groups">
                    <h1 class="page-header">Groups</h1>

                    <div class="group-item">
                        <img src="{% static 'img/group.png' %}"/>
                        <h4><a href="#">Sample Group One</a></h4>

                        <p>This is a sample Dobble social network group</p>

                        <p><a href="#" class="btn btn-default">Join Group</a></p>
                    </div>
                    <!-- group-item -->
                    <div class="clearfix"></div>
                    <div class="group-item">
                        <img src="{% static 'img/group.png' %}"/>
                        <h4><a href="#">Sample Group Two</a></h4>

                        <p>This is a sample Dobble social network group</p>

                        <p><a href="#" class="btn btn-default">Join Group</a></p>
                    </div>
                    <!-- group-item -->
                    <div class="clearfix"></div>
                    <div class="group-item">
                        <img src="{% static 'img/group.png' %}"/>
                        <h4><a href="#">Sample Group Three</a></h4>

                        <p>This is a sample Dobble social network group</p>

                        <p><a href="#" class="btn btn-default">Join Group</a></p>
                    </div>
                    <!-- group-item -->
                    <div class="clearfix"></div>
                    <div class="group-item">
                        <img src="{% static 'img/group.png' %}"/>
                        <h4><a href="#">Sample Group Four</a></h4>

                        <p>This is a sample Dobble social network group</p>

                        <p><a href="#" class="btn btn-default">Join Group</a></p>
                    </div>
                    <!-- group-item -->
                    <div class="clearfix"></div>
                </div>
                <!-- groups -->
            </div>
            <!-- md 8 -->
        {% endblock %}

            <!-- SIDEBAR -->
        {% block sidebar %}
            <div class="col-md-4">
                <div class="panel panel-default friends">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Friends</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a></li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a></li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a></li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a></li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a></li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a></li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a></li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a></li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a></li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a></li>
                        </ul>
                        <div class="clearfix"></div>
                        <!-- clear floats -->
                        <a class="btn btn-primary" href="#">View All Friends</a>
                    </div>
                    <!-- panel-body -->
                </div>
                <!-- panel -->

                <div class="panel panel-default groups">
                    <div class="panel-heading">
                        <h3 class="panel-title">Latest Groups</h3>
                    </div>
                    <div class="panel-body">
                        <div class="group-item">
                            <img src="{% static 'img/group.png' %}"/>
                            <h4><a href="#">Sample Group One</a></h4>

                            <p>This is a Dobble social network sample group</p>
                        </div>
                        <!-- group-item -->
                        <div class="clearfix"></div>
                        <!-- clear floats -->
                        <div class="group-item">
                            <img src="{% static 'img/group.png' %}"/>
                            <h4><a href="#">Sample Group Two</a></h4>

                            <p>This is a Dobble social network sample group</p>
                        </div>
                        <!-- group-item -->
                        <div class="clearfix"></div>
                        <!-- clear floats -->
                        <div class="group-item">
                            <img src="{% static 'img/group.png' %}"/>
                            <h4><a href="#">Sample Group Three</a></h4>

                            <p>This is a Dobble social network sample group</p>
                        </div>
                        <!-- group-item -->
                        <div class="clearfix"></div>
                        <!-- clear floats -->
                        <a class="btn btn-primary" href="#">View All Groups</a>
                    </div>
                    <!-- panel body -->
                </div>
                <!-- groups panel -->

            </div>
            <!-- md 4 -->
  {% endblock %}

        </div>
        <!-- row -->
    </div>
    <!-- container -->

{% endblock %}



</section>

{% block footer %}
    {{ block.super }}
{% endblock %}


</body>

