{% extends 'base.html' %}
{% load staticfiles %}


<body>


<section>
    {% block content %}
    <div class="container">
        <div class="row">
        {% block osnova %}
            <div class="col-md-8">
                <div class="members">
                    <h1 class="page-header">Members</h1> <!-- page-header is a bootstrap header -->
                    <div class="row member-row">
                        <div class="col-md-3">
                            <img src="{% static 'img/user.png' %}" class="img-thumbnail"/>
                            <!-- bootstrap class - smaller with border and padding -->
                            <div class="text-center">SomeUser1</div>
                        </div>
                        <!-- col 3 -->
                        <div class="col-md-3">
                            <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a>
                            </p>
                        </div>
                        <!-- col 3 -->
                        <div class="col-md-3">
                            <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a>
                            </p>
                        </div>
                        <!-- col 3 -->
                        <div class="col-md-3">
                            <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a>
                            </p>
                        </div>
                        <!-- col 3 -->
                    </div>
                    <!-- row member-row -->

                    <div class="row member-row">
                        <div class="col-md-3">
                            <img src="{% static 'img/user.png' %}" class="img-thumbnail"/>
                            <!-- bootstrap class - smaller with border and padding -->
                            <div class="text-center">SomeUser2</div>
                        </div>
                        <!-- col 3 -->
                        <div class="col-md-3">
                            <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a>
                            </p>
                        </div>
                        <!-- col 3 -->
                        <div class="col-md-3">
                            <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a>
                            </p>
                        </div>
                        <!-- col 3 -->
                        <div class="col-md-3">
                            <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a>
                            </p>
                        </div>
                        <!-- col 3 -->
                    </div>
                    <!-- row member-row -->

                    <div class="row member-row">
                        <div class="col-md-3">
                            <img src="{% static 'img/user.png' %}" class="img-thumbnail"/>
                            <!-- bootstrap class - smaller with border and padding -->
                            <div class="text-center">SomeUser3</div>
                        </div>
                        <!-- col 3 -->
                        <div class="col-md-3">
                            <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a>
                            </p>
                        </div>
                        <!-- col 3 -->
                        <div class="col-md-3">
                            <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a>
                            </p>
                        </div>
                        <!-- col 3 -->
                        <div class="col-md-3">
                            <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a>
                            </p>
                        </div>
                        <!-- col 3 -->
                    </div>
                    <!-- row member-row -->

                    <div class="row member-row">
                        <div class="col-md-3">
                            <img src="{% static 'img/user.png' %}" class="img-thumbnail"/>
                            <!-- bootstrap class - smaller with border and padding -->
                            <div class="text-center">SomeUser4</div>
                        </div>
                        <!-- col 3 -->
                        <div class="col-md-3">
                            <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a>
                            </p>
                        </div>
                        <!-- col 3 -->
                        <div class="col-md-3">
                            <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a>
                            </p>
                        </div>
                        <!-- col 3 -->
                        <div class="col-md-3">
                            <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a>
                            </p>
                        </div>
                        <!-- col 3 -->
                    </div>
                    <!-- row member-row -->
                </div>
            </div>
            <!-- md 8 -->
    {% endblock %}

            <!-- SIDEBAR -->
        {% block sidebar %}
            <div class="col-md-4">
                <div class="panel panel-default friends">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Friends</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <!-- clear floats -->
                        <a class="btn btn-primary" href="#">View All Friends</a>
                    </div>
                    <!-- panel-body -->
                </div>
                <!-- panel -->

                <div class="panel panel-default groups">
                    <div class="panel-heading">
                        <h3 class="panel-title">Latest Groups</h3>
                    </div>
                    <div class="panel-body">
                        <div class="group-item">
                            <img src="{% static 'img/group.png' %}"/>
                            <h4><a href="#">Sample Group One</a></h4>

                            <p>This is a Dobble social network sample group</p>
                        </div>
                        <!-- group-item -->
                        <div class="clearfix"></div>
                        <!-- clear floats -->
                        <div class="group-item">
                            <img src="{% static 'img/group.png' %}"/>
                            <h4><a href="#">Sample Group Two</a></h4>

                            <p>This is a Dobble social network sample group</p>
                        </div>
                        <!-- group-item -->
                        <div class="clearfix"></div>
                        <!-- clear floats -->
                        <div class="group-item">
                            <img src="{% static 'img/group.png' %}"/>
                            <h4><a href="#">Sample Group Three</a></h4>

                            <p>This is a Dobble social network sample group</p>
                        </div>
                        <!-- group-item -->
                        <div class="clearfix"></div>
                        <!-- clear floats -->
                        <a class="btn btn-primary" href="#">View All Groups</a>
                    </div>
                    <!-- panel body -->
                </div>
                <!-- groups panel -->

            </div>
            <!-- md 4 -->
{% endblock %}

        </div>
        <!-- row -->
    </div>
    <!-- container -->

{% endblock %}



</section>

{% block footer %}
    {{ block.super }}
{% endblock %}


</body>