{% extends 'base.html' %}
{% load staticfiles %}


<body>

<section>
    {% block content %}
    <div class="container">
        <div class="row">
        {% block osnova %}
            <div class="col-md-8">
                <h1 class="page-header">Photos</h1>
                <ul class="photos gallery-parent">
                    <!-- img-thumbnailbootstrap class to make border, etc. -->
                    <li><a href="{% static 'img/sample1.jpg' %}" data-parent=".gallery-parent" data-gallery="my-gallery"
                           data-title="Image One" data-footer="This is image one" data-toggle="lightbox"
                           data-hover="tooltip" data-placement="top" title="Image One">
                        <img src="{% static 'img/sample1.jpg' %}" class="img-thumbnail"/>
                    </a></li>
                    <li><a href="{% static 'img/sample2.jpg' %}" data-parent=".gallery-parent" data-gallery="my-gallery"
                           data-title="Image Two" data-footer="This is image two" data-toggle="lightbox"
                           data-hover="tooltip" data-placement="top" title="Image Two">
                        <img src="{% static 'img/sample2.jpg' %}" class="img-thumbnail"/>
                    </a></li>
                    <li><a href="{% static 'img/sample3.jpg' %}" data-parent=".gallery-parent" data-gallery="my-gallery"
                           data-title="Image Three" data-footer="This is image three" data-toggle="lightbox"
                           data-hover="tooltip" data-placement="top" title="Image Three">
                        <img src="{% static 'img/sample3.jpg' %}" class="img-thumbnail"/>
                    </a></li>
                    <li><a href="{% static 'img/sample4.jpg' %}" data-parent=".gallery-parent" data-gallery="my-gallery"
                           data-title="Image Four" data-footer="This is image four" data-toggle="lightbox"
                           data-hover="tooltip" data-placement="top" title="Image Four">
                        <img src="{% static 'img/sample4.jpg' %}" class="img-thumbnail"/>
                    </a></li>
                    <li><a href="{% static 'img/sample5.jpg' %}" data-parent=".gallery-parent" data-gallery="my-gallery"
                           data-title="Image Five" data-footer="This is image five" data-toggle="lightbox"
                           data-hover="tooltip" data-placement="top" title="Image Five">
                        <img src="{% static 'img/sample5.jpg' %}" class="img-thumbnail"/>
                    </a></li>
                    <li><a href="{% static 'img/sample6.jpg' %}" data-parent=".gallery-parent" data-gallery="my-gallery"
                           data-title="Image Six" data-footer="This is image six" data-toggle="lightbox"
                           data-hover="tooltip" data-placement="top" title="Image Six">
                        <img src="{% static 'img/sample6.jpg' %}" class="img-thumbnail"/>
                    </a></li>
                </ul>
            </div>
            <!-- md 8 -->
        {% endblock %}

            <!-- SIDEBAR -->
        {% block sidebar %}
            <div class="col-md-4">
                <div class="panel panel-default friends">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Friends</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                             <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                            <li><a class="thumbnail" href="profile.html"><img src="{% static 'img/user.png' %}"/></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <!-- clear floats -->
                        <a class="btn btn-primary" href="#">View All Friends</a>
                    </div>
                    <!-- panel-body -->
                </div>
                <!-- panel -->

                <div class="panel panel-default groups">
                    <div class="panel-heading">
                        <h3 class="panel-title">Latest Groups</h3>
                    </div>
                    <div class="panel-body">
                        <div class="group-item">
                            <img src="{% static 'img/group.png' %}"/>
                            <h4><a href="#">Sample Group One</a></h4>

                            <p>This is a Dobble social network sample group</p>
                        </div>
                        <!-- group-item -->
                        <div class="clearfix"></div>
                        <!-- clear floats -->
                        <div class="group-item">
                            <img src="{% static 'img/group.png' %}"/>
                            <h4><a href="#">Sample Group Two</a></h4>

                            <p>This is a Dobble social network sample group</p>
                        </div>
                        <!-- group-item -->
                        <div class="clearfix"></div>
                        <!-- clear floats -->
                        <div class="group-item">
                            <img src="{% static 'img/group.png' %}"/>
                            <h4><a href="#">Sample Group Three</a></h4>

                            <p>This is a Dobble social network sample group</p>
                        </div>
                        <!-- group-item -->
                        <div class="clearfix"></div>
                        <!-- clear floats -->
                        <a class="btn btn-primary" href="#">View All Groups</a>
                    </div>
                    <!-- panel body -->
                </div>
                <!-- groups panel -->

            </div>
           <!-- md 4 -->
        {% endblock %}

        </div>
        <!-- row -->
    </div>
    <!-- container -->

{% endblock %}



</section>

{% block footer %}
    {{ block.super }}
{% endblock %}


</body>

